@import "tailwindcss";

@theme {
  --color-whitebackground: #F2F4F8;
  --color-redalert: #F25656;
  --color-primarygreen: #02DD85;
  --color-grayblue: #A2B0BC;
  --color-darkblue: #081932;
  --color-darkgray: #8F9396;
  --color-bluegray: #7D8E9D;
  --shadow-base: 0px 4px 7px rgb(3, 20, 33, 0.25);
  --shadow-btn: 0px 0px 8px rgb(3, 20, 33, 0.25);
  --inset-shadow-field: inset 0.7px 0.7px 4.5px rgb(3, 20, 33, 0.25);
  --font-poppins: '--font-poppins';
}

body {
  @apply bg-whitebackground
}


/* Text Styles */

.text-dark-3xl {
  @apply text-3xl text-darkblue font-semibold font-poppins
}

.text-gray-3xl {
  @apply text-3xl text-darkgray font-semibold font-poppins
}

.text-green-3xl {
  @apply text-3xl text-primarygreen font-semibold font-poppins
}

.text-dark-2xl {
  @apply text-2xl text-darkblue font-semibold font-poppins
}

.text-gray-2xl {
  @apply text-2xl text-darkgray font-semibold font-poppins
}

.text-green-2xl {
  @apply text-2xl text-primarygreen font-semibold font-poppins
}

.text-dark-xl {
  @apply text-xl text-darkblue font-semibold font-poppins
}

.text-gray-xl {
  @apply text-xl text-darkgray font-semibold font-poppins
}

.text-green-xl {
  @apply text-xl text-primarygreen font-semibold font-poppins
}

.text-dark-lg {
  @apply text-lg text-darkblue font-semibold font-poppins
}

.text-gray-lg {
  @apply text-lg text-darkgray font-semibold font-poppins
}

.text-green-lg {
  @apply text-lg text-primarygreen font-semibold font-poppins
}


.text-dark-base {
  @apply text-base text-darkblue font-semibold font-poppins
}

.text-gray-base {
  @apply text-sm text-darkgray font-semibold font-poppins
}

.text-green-base {
  @apply text-base text-primarygreen font-semibold font-poppins
}

.text-red-base {
  @apply text-base text-redalert font-semibold font-poppins
}

.text-dark-sm {
  @apply text-sm text-darkblue font-semibold font-poppins
}

.text-gray-sm {
  @apply text-sm text-darkgray font-semibold font-poppins
}

.text-green-sm {
  @apply text-sm text-primarygreen font-semibold font-poppins
}

.text-red-sm {
  @apply text-sm text-redalert font-semibold font-poppins
}

.text-light-base {
  @apply text-base text-bluegray font-semibold font-poppins
}

.text-light-sm {
  @apply text-sm text-bluegray font-semibold font-poppins
}



/* Mix */

/* Input Styles */

/* Container Styles */

/* Button Styles */